./.*~
*/*.jpg
*/capture
*/playvideo
*/out.avi
*/tracker
*/pyrdown
*/canny
*/lkdemo
demo/webcam_demo
out.avi
tracker
exercises/b*
exercises/*.jpg
exercises/*.png
exercises/image_processing/b*
exercises/core_functionality/b*
exercises/video_processing/b*
exercises/video_processing/*.avi
exercises/video_processing/playvideo
exercises/video_processing/*.gif
exercises/video_processing/*.webm
exercises/carnum_recognition/b*


